.App {
    text-align: center;
    width: 1720px;
    margin: 0 auto;
}

.navbar {
    height: 280px;
    background-image: url('../src/assets/meals.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar h1 {
    font-size: 48px;
    font-weight: 800;
    color: rgb(88, 9, 9);
}

.menu {
    border: 1px solid gray;
    border-radius: 8px;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px 20px;
}

.menuitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.ing {
    display: flex;
    font-size: 20px;
    color: blue;
    font-weight: 600;
}

.price {
    font-size: 32px;
    font-weight: 800;
    color: green;
}

.ing:last-child span {
    display: none;
}

.menuitem:last-child {
    border-bottom: none;
}

.action {
    display: flex;
    flex-direction: column;
}

.action label {
    font-size: 18px;
    color: rgb(210, 207, 30);
}

.addbtn {
    margin: 10px;
    width: 100px;
    height: 40px;
    background-color: rgb(207, 169, 227);
}

.cardbtn {
    background-color: rgb(95, 6, 15);
    width: 200px;
    height: 50px;
    border-radius: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbtn span {
    background-color: rgb(186, 39, 39);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}


/****************card*/

.card {
    width: 600px;
}

.carditem {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.carditem:last-child {
    border-bottom: none;
}

.carditem p {
    font-size: 32px;
    font-weight: 700;
    color: rgb(119, 67, 63);
    text-transform: uppercase;
}

.cardprice {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardprice span {
    margin-left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid rgb(119, 67, 63);
    padding: 10px;
}

.cardaction {
    display: flex;
}

.cardaction span {
    width: 20px;
    height: 10px;
    border-radius: 8px;
    border: 2px solid rgb(119, 67, 63);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
}

.total {
    border-top: 2px solid rgb(138, 44, 44);
}

.totalprice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total span {
    font-size: 28px;
    font-weight: 700;
}

.btndiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btndiv button {
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
    font-size: 16px;
}

.close {
    background-color: #fff;
    color: rgb(155, 72, 72);
    border: 1px solid rgb(155, 72, 72);
}

.empty {
    color: #fff;
    background-color: rgb(211, 166, 30);
}

.pay {
    color: #fff;
    background-color: rgb(141, 41, 41);
}